@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Kalam:wght@300;400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Satisfy&display=swap');
.paper{
    padding: 100px 100px;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: url("background.png");
    background-position: center ;
}

.paper {
    background-image: url("long\ paper.png");
    background-size: cover;
    background-size: 500px;
    background-position: center center;
    /* padding: 50px 100px; */
  /*  min-width: 800px; */
    
    /* transform: rotateZ(-5deg); */
    box-shadow: 1px 15px 20px 0px rgba(0.5,0.5,0.5,0.5);
    
    position: absolute;
}
.p1{    
    padding: 1px 75px;
    margin: 100px;
}
.p2{
    padding: 1px 140px;
}
.p3{
    padding: 1px 10px;
}
.p4{
    font-family: 'satisfy';
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px 15px;
    transform: scale(0.5);
    width: 530px;
    height: 450px;

}
.p5{
    font-size:20px;
    width: 400px;
    height:400px;
    font-family: 'satisfy';
    display: flex;
    flex-direction: column;
    transform: scale(0.5);
    padding: 20px ;
    align-items: center;
    
}
.p6{
    font-family: 'satisfy';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transform: scale(0.5);
}
p{
    text-align: center;
}

.paper.heart {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 50%;
}
.start {
  font-family: 'satisfy';
  font-size: 50px;
  padding: 0%;
}
